[Unit]
Description=Service checker
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/local/bin/service_monitor_amd64 -port 9062 -services "/usr/local/bin/services.txt" -auth "/usr/local/bin/auth.txt"
SyslogIdentifier=Service checker

[Install]
WantedBy=multi-user.target
